body { 
/*	background:#1B1B1B;*/
	color: #78A7FF;
	background:#363636;
}

header{
	background:#1C491A;
	color:#BAFF00;
	text-align: center;
}

footer{
	background: #10280F;
	color:#D4DB21;
	text-align: center;
}

aside{
	background:#363636;
	color:#FFFFFF;
	height:100%;
}

input{
	color: #002AFF;
	background: #FF2525;
	text-transform: uppercase;
}

article{
	background: #273F71;
	height:100%;
	width:100%;

}

#map{
	width: 100%;
	height:100%;
	border: 1px;
}
